body {
    margin: 0;
    padding: 0;

    /* https://tachyons.io/docs/typography/font-family/ */
    font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#no2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    color: black;
}

.circle-icon:hover {
    cursor: pointer;
}
.circle-icon {
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: var(--menu-button-padding);
}
:root {
    --menu-padding: 30px;
    --menu-button-padding: 15px;
    --button-border-offset: 50px;
}
#menu-container{
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    /* TODO: I couldn't get CSS var expressions to work here: */
    max-width: calc(100vw - 60px);
    height: 100%;
    padding: 0 var(--menu-padding);
    background: #ffffff;
    overflow-y: scroll;
    z-index: 10; /* Shadow mapbox-gl controls (z-index 2) */
}
#menu-container .ui-button {
    z-index: 5;
    left: 550px;
}
.ui-button {
    padding: var(--button-border-offset);
}

.menu-button-container{
    position: fixed;
    top: 0;
    left: 0;
}
.satellite-button-container{
    position: fixed;
    bottom: 0;
    left: 0;
    /* background: rgba(255, 255, 255, 0.8); */
    /* margin-right: 20px; */
    /* overflow: auto; */
    border-radius: 3px;
}

#menu-container h1 {
    font-size: 50px;
}
@media (max-width: 750px) {
    :root {
        --menu-padding: 15px;
        --menu-button-padding: 10px;
        --button-border-offset: 10px;
    }
    .circle-icon {
        padding: var(--menu-button-padding);
    }
    #menu-container .circle-icon {
        border: 1px solid black;
    }
    #menu-container {
        padding-top: 30px;
        width: calc(100vw - 30px); /* calc(100vw - 2*var(--menu-padding)) */
        max-width: calc(100vw - 30px); /* calc(100vw - 2*var(--menu-padding)) */
    }
    #menu-container .satellite-button-container {
        display: none;
    }
    #menu-container .menu-button-container {
        left: unset;
        right: 0;
    }
}

.layer-card {
    margin-bottom: 30px;
    font-size: 20px;
}
.layer-card .title {
    font-size: 30px;
    display: inline-block;
    max-width: calc(100% - 48px); /* 48px is the width of the toggle switch, below */
}
.layer-card p {
    color: #404040;
}
.layer-disabled {
    color: #969696;
}

.onoffswitch {
    position: relative; width: 48px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    background-color: #A8A8A8;
    transition: background-color 0.15s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 26px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.15s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #191C1F;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #191C1F;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

*[hidden] { display: none; }

#btn-logout:hover, #btn-login:hover {
    cursor: pointer;
}
#btn-logout, #btn-login {
    background: #333;
    color: #eee;
    font-size: 24px;
    position: absolute;
    top:65px;
    right: 60px;
}


legend ul {
    list-style: none;
}
legend li {
    display: inline-block;
}
#legend-co2e .legend-title {
    margin-bottom: 8px;
    font-size: 90%;
}
#legend-co2e .legend-scale ul {
    margin: 0;
    list-style: none;
}
#legend-co2e .legend-scale ul li {
    display: inline-block;
    margin-bottom: 6px;
}
#legend-co2e ul.legend-labels li span {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid black;
}
#legend-co2e .legend-footer {
    font-size: 80%;
    color: #333;
}
#legend-co2e a {
    color: #777;
}




#legend-cifor-peatdepth ul {
    list-style: none;
}
#legend-cifor-peatdepth li {
    display: inline-block;
}
#legend-cifor-peatdepth li span {
    display:inline-block;
    padding: 5px 5.5px;
    margin:0;
}


#legend-cifor-wetlands ul {
    list-style: none;
}
#legend-cifor-wetlands li {
    display: inline-block;
}
#legend-cifor-wetlands li span {
    display:inline-block;
    padding: 5px 8px;
    margin: 3px 0;
}


.legend-fmi-enfuser ul {
    list-style: none;
}
.legend-fmi-enfuser li {
    display: inline-block;
    padding: 5px 8px;
}

#legend-snow-cover-loss li span {
    border: 2px solid black;
}
#legend-snow-cover-loss li span {
    display:inline-block;
    padding: 5px 8px;
}


#legend-mature-forests li span {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 10px;
    border: 1px solid black;
}

.arvometsa li span:hover {
    cursor: pointer;
}
g.bar rect {
    fill: rgba(31, 23, 23, 0.8);
}


.tooltip {
    cursor: help;
    position: relative;
}

.tooltip::before, .tooltip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -100;
}

.tooltip:hover::before, .tooltip:focus::before, .tooltip:hover::after, .tooltip:focus::after {
    opacity: 1;
    z-index: 100;
}

.tooltip::before {
    border-style: solid;
    border-width: 1em .75em 0 .75em;
    border-color: #3e474f transparent transparent transparent;
    bottom: 100%;
    margin-left: -.5em;
    content: " ";
}

.tooltip::after {
    background: #bec3c7;
    border-radius: .25em;
    bottom: 180%;
    color: black;
    width: 17.5em;
    padding: 1em;
    margin-left: -8.75em;
    content: attr(title);
}

#dataset-query-results {
    /* font-size: 30px; */
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    /* TODO: I couldn't get CSS var expressions to work here: */
    max-width: calc(100vw - 60px);
    height: 100%;
    padding: 0 var(--menu-padding);
    background: #ffffff;
    overflow-y: scroll;
    z-index: 10; /* Shadow mapbox-gl controls (z-index 2) */
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #ccc;
    border: 1px solid black;
    margin: 3px;
    font-size: 1rem;
}

a:visited.pagination {
    color: inherit;
}