#no2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    color: black;
}

:root {
    --menu-padding: 12px;
    --menu-button-padding: 15px;
    --button-border-offset: 50px;
}


legend ul {
    list-style: none;
}

legend li {
    display: inline-block;
}

#legend-co2e .legend-title {
    margin-bottom: 8px;
    font-size: 90%;
}

#legend-co2e .legend-scale ul {
    margin: 0;
    list-style: none;
}

#legend-co2e .legend-scale ul li {
    display: inline-block;
    margin-bottom: 6px;
}

#legend-co2e ul.legend-labels li span {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid black;
}

#legend-co2e .legend-footer {
    font-size: 80%;
    color: #333;
}

#legend-co2e a {
    color: #777;
}

#legend-cifor-peatdepth ul {
    list-style: none;
}

#legend-cifor-peatdepth li {
    display: inline-block;
}

#legend-cifor-peatdepth li span {
    display: inline-block;
    padding: 5px 5.5px;
    margin: 0;
}

#legend-cifor-wetlands ul {
    list-style: none;
}

#legend-cifor-wetlands li {
    display: inline-block;
}

#legend-cifor-wetlands li span {
    display: inline-block;
    padding: 5px 8px;
    margin: 3px 0;
}

.legend-fmi-enfuser ul {
    list-style: none;
}

.legend-fmi-enfuser li {
    display: inline-block;
    padding: 5px 8px;
}

#legend-snow-cover-loss li span {
    border: 2px solid black;
}

#legend-snow-cover-loss li span {
    display: inline-block;
    padding: 5px 8px;
}

#legend-mature-forests li span {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 10px;
    border: 1px solid black;
}


.tooltip {
    cursor: help;
    position: relative;
}

.tooltip::before,
.tooltip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -100;
}

.tooltip:hover::before,
.tooltip:focus::before,
.tooltip:hover::after,
.tooltip:focus::after {
    opacity: 1;
    z-index: 100;
}

.tooltip::before {
    border-style: solid;
    border-width: 1em .75em 0 .75em;
    border-color: #3e474f transparent transparent transparent;
    bottom: 100%;
    margin-left: -.5em;
    content: " ";
}

.tooltip::after {
    background: #bec3c7;
    border-radius: .25em;
    bottom: 180%;
    color: black;
    width: 17.5em;
    padding: 1em;
    margin-left: -8.75em;
    content: attr(title);
}


#dataset-query-results {
    /* font-size: 30px; */
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    /* TODO: I couldn't get CSS var expressions to work here: */
    max-width: calc(100vw - 60px);
    height: 100%;
    padding: 0 var(--menu-padding);
    background: #ffffff;
    overflow-y: scroll;
    z-index: 10;
    /* Shadow mapbox-gl controls (z-index 2) */
    word-break: break-word;
}

.dataset-query-result {
    clear: both;
}

.dataset-query-button {
    float: left;
}

.dataset-query-thumbnail {
    float: right;
}

.dataset-query-attributes>tbody>tr>td:nth-child(1) {
    text-align: right;
    font-weight: bold;
    padding-right: 8px;
}

.dataset-query-attributes>tbody>tr>td:nth-child(2) {
    text-align: left;
    word-break: break-word;
}
